.container {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 0;
  min-width: 100%;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* Overlay para escurecer a imagem */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Ajuste o valor para escurecer mais ou menos */
  z-index: 2;
}

.content {
  position: relative;
  z-index: 3; /* Colocar o conteúdo acima da imagem e overlay */
  padding: 20px;
  color: white;
}

.title {
  font-weight: 700;
  font-size: 33px;
}

