<ion-menu contentId="main-content">
  <ion-header>
    <div class="content-menu">
      <img class="logo-menu" [lazyLoad]="'assets/images/logo.svg'" />
    </div>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item (click)="onClickNew()">
      <ion-label>Novo aluno</ion-label>
      <ion-icon slot="end" name="person-add-outline" color="light"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Contato</ion-label>
      <ion-icon slot="end" name="call-outline" color="light"></ion-icon>
    </ion-item>
    <br/>
    <ion-item (click)="onClickSignOut()">
      <ion-label>Sair</ion-label>
      <ion-icon slot="end" name="exit-outline" color="light"></ion-icon>
    </ion-item>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
        <ion-title style="text-align: center">
          <img class="logo-toolbar" [lazyLoad]="'assets/images/logo.svg'" />
        </ion-title>
        <ion-button>
          <div class="point-notification"></div>
          <ion-icon slot="icon-only" name="notifications"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content mode="md">
    <div class="toolbar animated-height" [class.shrink]="isShrunk">
      <div class="box-info-user">
        <ion-item *ngIf="!professor" lines="none" color="transparent">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 30%"
              ></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="professor" color="transparent" lines="none">
          <ion-avatar>
            <img
              [lazyLoad]="professor.urlFoto"
              defaultImage="assets/images/profile_default.webp"
            />
          </ion-avatar>
          <ion-label>
            <p class="name-user">
              {{ (professor?.name!.length > 15 ?
              professor?.name!.toString().substring(0, 15).toString()+'...' :
              professor?.name ) }}
            </p>
            <p class="nivel">Nível Roxo</p>
          </ion-label>
        </ion-item>
      </div>
      <div class="box-radio-buttons-toolbar">
        <ion-button fill="clear">
          <div class="border-icon">
            <ion-icon name="accessibility" color="secondary"></ion-icon>
          </div>
          <span>MEU CORPO</span>
        </ion-button>
        <ion-button fill="clear">
          <div class="border-icon">
            <ion-icon name="trophy" color="secondary"></ion-icon>
          </div>
          <span>OBJETIVOS E CONQUISTAS</span>
        </ion-button>
      </div>
    </div>
    <section *ngIf="listAlunos.length">
      <!--Sessao Personal Online-->
      <ion-item-divider color="transparent" lines="none">
        <h3 slot="start" class="title-section">Personal Online</h3>
        <ion-button fill="clear" shape="round">
          <ion-icon name="add-circle-outline" color="secondary"></ion-icon>
        </ion-button>
      </ion-item-divider>
      <app-swiper-personal-online
        [enableBtnInit]="true"
        [titleBtnInit]="'Novo Treino'"
        [list]="listAlunos"
        (clickInitBtn)="onClickNew()"
        (clickItem)="onClickEdit($event)"
        (clickRemove)="onClickRemove($event)"
      ></app-swiper-personal-online>
      <!--Sessao Programas-->
      <ion-item-divider color="transparent" lines="none">
        <h3 slot="start" class="title-section">Programas</h3>
        <ion-button fill="clear" shape="round">
          <ion-icon name="add-circle-outline" color="secondary"></ion-icon>
        </ion-button>
      </ion-item-divider>
      <app-swiper-programas [list]="listObjetivos"></app-swiper-programas>
      <!--Sessao Conteúdos-->
      <ion-item-divider color="transparent" lines="none">
        <h3 slot="start" class="title-section">Conteúdos</h3>
        <ion-button fill="clear" shape="round">
          <ion-icon name="add-circle-outline" color="secondary"></ion-icon>
        </ion-button>
      </ion-item-divider>
      <app-swiper-conteudos [list]="listConteudos"></app-swiper-conteudos>
      <br />
    </section>
    <app-skeleton-list *ngIf="!listAlunos.length"></app-skeleton-list>
    <app-animation-list *ngIf="listAlunos.length"></app-animation-list>
  </ion-content>
</div>
