<ion-content mode="md">
  <div class="ring">
    <i class="color1"></i>
    <i class="color2"></i>
    <i class="color3"></i>
    <div class="content">
      <img src="assets/images/logo.png" />
    </div>
  </div>
  <div class="container-footer">
    <h3 class="title">Uma Vida Mais Saudável</h3>
    <p class="subtitle">
      Acompanhe treinos, e alcance seus objetivos no mundo fitness.
    </p>
    <ion-button routerLink="/login">
      <ion-label color="light">Continuar</ion-label>
    </ion-button>
  </div>
  <br />
  <p class="dev" color="light">Desenvolvido por Italo Rodri. Dev</p>
  <br />
</ion-content>
