<ion-header mode="md">
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button (click)="onClickBack()">
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          color="light"
        ></ion-icon>
      </ion-button>
      <ion-title color="light"
        >{{ aluno != null && diaTreino != null ? 'Exercícios' : 'Novo exercício'
        }}</ion-title
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <br />
  <ion-item-divider>
    <ion-title color="primary">DADOS</ion-title>
  </ion-item-divider>
  <ion-card mode="ios" *ngIf="aluno != null && diaTreino != null">
    <ion-card-content>
      <ion-card-title>{{ diaTreino.dia }}</ion-card-title>
      <ion-label>
        <p><strong>Aluno:</strong> {{ aluno.nome }}</p>
        <p><strong>Doenças crônicas:</strong> {{ aluno.doencas }}</p>
        <p><strong>Objetivo:</strong> {{ aluno.objetivo }}</p>
        <p><strong>Nível:</strong> {{ aluno.nivel }}</p>
      </ion-label>
    </ion-card-content>
    <ion-card-content *ngIf="exercicio != null">
      <ion-card-title>{{ exercicio.nome }}</ion-card-title>
      <ion-label>
        <p>Ênfase: {{ exercicio.enfase }}</p>
        <p>Séries: {{ exercicio.series }}</p>
        <p>Repetições: {{ exercicio.repeticoes }}</p>
        <p>
          Observações: {{ (exercicio.obs.length ? exercicio.obs : 'Nenhuma') }}
        </p>
      </ion-label>
      <br/>
      <ion-card-title>Exemplo</ion-card-title>
      <div class="box-gif">
        <img [lazyLoad]="exercicio.gif">
      </div>
    </ion-card-content>
    <ion-card-content>
      <ion-button
        (click)="onClickEdit()"
        *ngIf="aluno?.id != null && blockEdit == true"
        [disabled]="!form.valid"
      >
        <ion-label color="light">Editar</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios" *ngIf="exercicio == null || blockEdit == false">
    <ion-card-content>
      <form [formGroup]="form">
        <ion-item [disabled]="blockEdit">
          <ion-input
            formControlName="nome"
            label="Nome do exercicio"
            labelPlacement="stacked"
            placeholder="Digite o nome"
            minlength="3"
            maxlength="100"
          ></ion-input>
        </ion-item>
        <br />
        <ion-item [disabled]="blockEdit">
          <ion-select
            formControlName="enfase"
            mode="md"
            label="Ênfase"
            placeholder="Selecionar"
            cancelText="Cancelar"
            okText="Confirmar"
          >
            <ion-select-option *ngFor="let item of listEnfase"
              >{{ item?.titulo }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <br />
        <ion-item [disabled]="blockEdit">
          <ion-input
            formControlName="series"
            label="Número de séries"
            labelPlacement="stacked"
            type="number"
            placeholder="00"
            minlength="0"
            maxlength="500"
          ></ion-input>
        </ion-item>
        <br />
        <ion-item [disabled]="blockEdit">
          <ion-input
            formControlName="repeticoes"
            label="Número de repetições"
            labelPlacement="stacked"
            type="number"
            placeholder="00"
            minlength="0"
            maxlength="500"
          ></ion-input>
        </ion-item>
        <br />
        <ion-item [disabled]="blockEdit">
          <ion-textarea
            formControlName="obs"
            label="Observações"
            labelPlacement="stacked"
            placeholder="Opcional..."
            minlength="0"
            maxlength="500"
          ></ion-textarea>
        </ion-item>
        <br />
        <div *ngIf="form.controls['gif']?.value != '' ">
          <ion-item>
            <ion-label>Exemplo do exercício</ion-label>
            <ion-button color="primary" slot="end" (click)="removeGif()">
              <ion-label color="light">Alterar</ion-label>
            </ion-button>
          </ion-item>
          <ion-card color="light">
            <img [src]="form.controls['gif'].value" />
          </ion-card>
        </div>
        <div *ngIf="form.controls['gif']?.value == '' ">
          <ion-label>Escolha um exemplo (Opcional)</ion-label>
          <br />
          <div class="box-gifs">
            <ion-radio-group>
              <ion-grid>
                <ion-row>
                  <ion-col
                    size="6"
                    size-md="4"
                    size-lg="3"
                    *ngFor="let gif of gifList"
                  >
                    <ion-card color="light" (click)="onClickGif(gif)">
                      <img [lazyLoad]="gif" />
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-radio-group>
          </div>
        </div>
      </form>
    </ion-card-content>
    <ion-card-content>
      <ion-row>
        <ion-button
          *ngIf="blockEdit == false || !form.controls['id'].valid"
          (click)="onClickSave()"
          [disabled]="!form.valid"
        >
          <ion-label color="light">Salvar</ion-label>
        </ion-button>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <br />
  <br />
  <br />
  <app-animation-list></app-animation-list>
</ion-content>
